﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="Home.aspx.cs" Inherits="Assignment_2a.Home" %>
<asp:Content ID="Content1" ContentPlaceHolderID="Idea" runat="server">
    <div class="jumbotron">
        JAY PATEL<br/>
        N01305924
    </div>
</asp:Content>

