﻿body {
    margin:20px;
    font-family:'Times New Roman', Times, serif;
    
}

.menu li
{
 display:inline-block;
padding:10px;
}

.menu{
    word-spacing:20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: black;
    color: white;
}

#Pagefooter {
    background-color: orangered;
    color: white;
}

a, a:link, a:visited, a:hover, a:active {
color:white;
}

.jumbotron li a {
color: black;
}
